#input-container {
  width: 50%;
  margin: 20px auto;
}
.cross {
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  line-height: 0px;
}
.cross:hover {
  color: brown;
}
.checked {
  color: grey;
  text-decoration: line-through;
}
