<div class="container text-center">
  <div class="todos">
    <div id="input-container" class="input-group mb-3">
      <form class="input-group mb-3" (submit)="addTodo($event)">
        <input placeholder="new task" aria-label="new task" [(ngModel)]="newTodo" (keyup.enter)="newTodo=''"
          class="form-control" name="newTodo" aria-describedby="add">
        <div class="input-group-append">
          <button id="add" class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="newTodo===''">Add
            Todo</button>
        </div>
      </form>
    </div>




    <!--  <div [hidden]="newTodo">
      Type in a new todo...
    </div> -->
    <!-- 
    <div [hidden]="!newTodo">
     
      Typing: {{ newTodo }}
    </div> -->

    <ul class="list-group display-5 text-left">
      <li class="list-group-item " *ngFor="let todo of todoList; let i=index">


        <input id="{{ i }}" type="checkbox" class="cross" [(ngModel)]="todo.completed" />
        <label for="{{ i }}"> <span [ngClass]="{'checked': todo.completed}">{{ todo.title }}</span>
        </label> <span c (click)="deleteTodo(i)" class=" text-danger cross">[x]</span>
      </li>
    </ul>



  </div>
</div>